@font-face {
    font-family: MS;
    src: url(./Organix.otf);
}
  

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

html, body{
    height: 100%;
    width: 100%;
    padding-bottom: 10%;
    
    background-image: url(https://images.pexels.com/photos/3214110/pexels-photo-3214110.jpeg?cs=srgb&dl=pexels-frank-cone-140140-3214110.jpg&fm=jpg);
    background-size: cover;
    background-repeat: no-repeat;
    

}

#main{
    height: 100%;
    width: 100%;
    padding: 40px;
}
#mainPage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20%; 
  }
 

h1{
    font-size: 400%;
    font-weight: bold;
    text-align: center;
    color: #F0F0F0;
    font-family: MS;

    
}
#about{
    margin-top: 5%;
    text-align: left;
}
#para, #buttons{
    width: 100%;

}
p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#buttons{
    padding: 2% 0%;
    
}
button{
    font-size: 100%;
    font-weight: bold;
    width: 25%;
    height: 50%;
    margin-right: 5px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    border-radius: 7px;
}
a{
    text-decoration: none;
    color: white;
}
#exploreButton{

    color: white;
    background-color: rgb(219, 21, 21)  ;
}
#detailsButton{
    background-color: rgb(82, 18, 201);
}
#exploreButton:hover,#detailsButton:hover{
    color: white;
    background-color: rgb(0, 157, 255);
    transform: scale(1.05);
}
#section2{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: radial-gradient(yellow,red,transparent,transparent);
}